# Banco
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=fuvest_db

# JWT
JWT_SECRET=sua_chave_secreta_muito_longa_aqui
JWT_EXPIRATION=7d

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# IA
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=llama3
HUGGINGFACE_API_KEY=
OPENROUTER_API_KEY=

# App
PORT=3000
FRONTEND_URL=http://localhost:4200
